/* Header animation */
.logo-name img {
    animation: shake 1s infinite;
}
.logo-name img:hover {
    animation: shake 10ms infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .logo-name h1 {
    animation: glowing 5s infinite;
  }

@keyframes glowing {
    25% { text-shadow: 0 0 1px white, 0 0 2px green, 0 0 3px greenyellow;}
    50% { text-shadow: none;}
    75% { text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 5px green, 0 0 8px green, 0 0 10px greenyellow;
    color:greenyellow}
    100% { text-shadow: none;}
}
.navigation ul li:hover {
    animation: navibox 3s;
}
@keyframes navibox {
    25% {border: 2px solid green;}
    50% {border: 2px solid green;
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;}
    75% {border: 2px solid green;}
    100% {border:none;}
}
/* Body animation */
.info2 img {
    animation: moving 10s infinite linear;
}

.info2 img:hover {
    animation: moving 100ms infinite linear;
}

@keyframes moving {
    25% {transform: translateX(0.5rem)}
    50% {transform: translateX(0rem)}
    75% {transform: translateX(-0.5rem)}
    100% {transform: translateX(0rem)}
}

.info img {
    animation: glowing2 2s infinite;
}

.info img:hover {
    animation: glowing2 200ms infinite;
}
@keyframes glowing2 {
    50% {box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px white, 0 0 8px orangered, 0 0 10px orangered, 0 0 12px orange, 0 0 14px red, 0 0 17px red;}
    100% {box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;}
}

/* Partner animation */
#a { animation: textLightning 2s infinite linear}
#b { animation: textLightning 2s infinite linear 200ms}
#c { animation: textLightning 2s infinite linear 400ms}
#d { animation: textLightning 2s infinite linear 600ms}
#e { animation: textLightning 2s infinite linear 800ms}
#f { animation: textLightning 2s infinite linear 1s}
#g { animation: textLightning 2s infinite linear 1.2s}
#h { animation: textLightning 2s infinite linear 1.4s}
#i { animation: textLightning 2s infinite linear 1.6s}
#j { animation: textLightning 2s infinite linear 1.8s}
#k { animation: textLightning 2s infinite linear 2s}
#l { animation: textLightning 2s infinite linear 2.2s}
#m { animation: textLightning 2s infinite linear 2.4s}
#n { animation: textLightning 2s infinite linear 2.6s}

#a1 { animation: textLightning 3s infinite linear}
#a3 { animation: textLightning 3s infinite linear}
#a5 { animation: textLightning 3s infinite linear}
#a7 { animation: textLightning 3s infinite linear}
#a9 { animation: textLightning 3s infinite linear}
#a11 { animation: textLightning 3s infinite linear}
#a2 { animation: textLightning 3s infinite linear 1.5s}
#a4 { animation: textLightning 3s infinite linear 1.5s}
#a6 { animation: textLightning 3s infinite linear 1.5s}
#a8 { animation: textLightning 3s infinite linear 1.5s}
#a10 { animation: textLightning 3s infinite linear 1.5s}

#b1 { animation: textLightning 3s infinite linear}
#b2 { animation: textLightning 3s infinite linear 200ms}
#b3 { animation: textLightning 3s infinite linear 400ms}
#b4 { animation: textLightning 3s infinite linear 600ms}
#b5 { animation: textLightning 3s infinite linear 800ms}
#b6 { animation: textLightning 3s infinite linear 1s}

@keyframes textLightning {
    50%{ text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 5px green, 0 0 8px green, 0 0 10px greenyellow;
    color: greenyellow}
    100% {text-shadow: none;
    color:green}
}

/* Collection animation */
#aa { animation: collectionLightning 2s infinite linear}
#kk { animation: collectionLightning 2s infinite linear}
#bb { animation: collectionLightning 2s infinite linear 200ms}
#jj { animation: collectionLightning 2s infinite linear 200ms}
#cc { animation: collectionLightning 2s infinite linear 400ms}
#ii { animation: collectionLightning 2s infinite linear 400ms}
#dd { animation: collectionLightning 2s infinite linear 600ms}
#hh { animation: collectionLightning 2s infinite linear 600ms}
#ee { animation: collectionLightning 2s infinite linear 800ms}
#gg { animation: collectionLightning 2s infinite linear 800ms}
#ff { animation: collectionLightning 2s infinite linear 1s}
@keyframes collectionLightning {
    50%{ text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 5px orangered, 0 0 8px orangered, 0 0 10px red;
        color: orangered}
    100% {text-shadow: none;
        color:orange}
}

#undead1 {animation: undeadOpacity 5s infinite linear}
#undead2 {animation: undeadOpacity 5s infinite linear 2.5s}
@keyframes undeadOpacity {
    25% {opacity: 0.5;}
    50% {opacity: 0;}
    75% {opacity: 0.5;}
    100% {opacity: 1;}
}

.founderpass img{
    animation: circle 10s infinite linear;
}

.founderpass img:hover {
    animation-play-state: paused;
}

@keyframes circle {
    25%{transform: rotate(90deg)}
    50%{transform: rotate(180deg)}
    75%{transform: rotate(270deg)}
    100%{transform: rotate(1800deg)}
}

#team1{animation: team 30s infinite linear;}
#team2{animation: team 30s infinite linear 0.2s;}
#team3{animation: team 30s infinite linear 0.4s;}
#team4{animation: team 30s infinite linear 0.6s;}

@keyframes team {
    10%{color: green;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px green, 0 0 7px green;}
    20%{color: transparent;
    text-shadow: none;}
    30%{color: greenyellow;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px greenyellow, 0 0 7px greenyellow;}
    40%{color: transparent;
    text-shadow: none;}
    50%{color: orange;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 7px orange;}
    60%{color: transparent;
    text-shadow: none;}
    70%{color: orangered;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orangered, 0 0 7px orangered;}
    80%{color: transparent;
    text-shadow: none;}
    90%{color: red;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px red, 0 0 7px red;}
    100%{color: transparent;
    text-shadow: none;}
    
}