/* Homepage style */
.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.introduction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgba(56, 15, 0, 0.562);
    border-radius: 2rem 2rem 0 0;
    margin: 0 4rem;
    border-bottom: transparent;
}

.introduction img {
    width: 30rem;
    height: 15rem;
    border: 2px solid rgb(255, 116, 65);
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 8px orangered;
    border-radius: 2rem;
    margin: 2rem;
}

.introduction h1{
    font-size: 2rem;
    color: orange;
    text-align: center;
    font-style: italic;
    margin: 0 10rem;
}

.introduction2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgba(56, 15, 0, 0.562);
    margin: 1rem 4rem;
    border-top: transparent;
    border-radius: 0 0 2rem 2rem;

}

.introduction2 img {
    width: 25rem;
    height: 12.5rem;
    border: 2px solid burlywood;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 8px orangered;
    border-radius: 2rem;
    margin: 2rem;
}

.introduction2 h1{
    width: 100%;
    font-size: 2rem;
    color: orangered;
    text-align: center;
    margin: 0 10rem;
}

.introduction3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 4rem;
}

.info {
    width: 40%;
  
    border: 3px solid orangered;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info img{
    width: 11rem;
    height: 14rem;
    margin: 1rem;
    border: 2px solid orangered;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.info p{
    text-align: center;
    color: orangered;
    font-size: 1.75rem;
    margin: 1rem;
}

.info2 {
    width: 60%;
    border: 3px solid orangered;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info2 img{
    width: 11rem;
    height: 14rem;
    margin: 1rem;
    border: 2px solid orangered;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.info2 p{
    text-align: center;
    color: orangered;
    font-size: 1.75rem;
    margin: 1rem;
}

.partner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner h1{
    width: 100%;
    text-align: center;
}

.partner-icon {
    display: flex;
}

.partner-icon img {
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    border: 3px solid green;
    border-radius: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow, 0 0 12px greenyellow;
}

/* Collection section style */
.collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-banner h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: orange
}

.collection-banner img {
    width:30rem;
    height:12.5rem;
    border: 3px solid orangered;
    border-radius: 1.5rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.undead {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.undead img{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}

.undead a{
    text-decoration: none;
    color: orangered;
}

.undead h2{
    border: 2px solid orangered;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px orangered, 0 0 5px orangered, 0 0 7px red;
    transition-duration: 1s;
}

.undead a h2:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red, 0 0 13px red;
}

.founderpass {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}
.founderpass div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.founderpass img {
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    border-radius: 4rem;
    box-shadow: 0 0 1px black, 0 0 3px rgb(37, 37, 37), 0 0 5px rgb(83, 83, 83), 0 0 8px rgb(194, 194, 194), 0 0 10px rgb(255, 255, 255);
}
.founderpass a {
    text-decoration: none;
    color: orangered;
    margin-top: 1rem;
}

.founderpass h2{
    border: 2px solid orangered;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px orangered, 0 0 5px orangered, 0 0 7px red;
    transition-duration: 1s;
}

.founderpass a h2:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red, 0 0 13px red;
}

.undead-game {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.game-intro {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-icon {
    width: 100%;
    text-align: center;
}

.game-icon img{
    width: 25rem;
    height: 30rem;
}

.game-intro h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0 5rem;
}

.game-info {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game {
    width: 25rem;
    height: 25rem;
    border: 3px solid green;
}

.game-info p{
    font-size: 2rem;
    text-align: center;
    margin: 0 5rem;
}

.sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub-nav ul {
    display: flex;
}
.sub-nav ul li{
    display: flex;
    border: 2px solid green;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;
    transition-duration: 1s;
}
.sub-nav ul li:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px white, 0 0 8px green, 0 0 10px green, 0 0 12px greenyellow;
}
.sub-nav a {
    text-decoration: none;
    color: green;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green, 0 0 5px green, 0 0 7px greenyellow;
}
