/* Homepage style */
.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.introduction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgba(56, 15, 0, 0.562);
    border-radius: 2rem 2rem 0 0;
    margin: 0 4rem;
    border-bottom: transparent;
}

.introduction img {
    width: 30rem;
    height: 15rem;
    border: 2px solid rgb(255, 116, 65);
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 8px orangered;
    border-radius: 2rem;
    margin: 2rem;
}

.introduction h1{
    font-size: 2rem;
    color: orange;
    text-align: center;
    font-style: italic;
    margin: 0 10rem;
}

.introduction2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgba(56, 15, 0, 0.562);
    margin: 1rem 4rem;
    border-top: transparent;
    border-radius: 0 0 2rem 2rem;

}

.introduction2 img {
    width: 25rem;
    height: 12.5rem;
    border: 2px solid burlywood;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 8px orangered;
    border-radius: 2rem;
    margin: 2rem;
}

.introduction2 h1{
    width: 100%;
    font-size: 2rem;
    color: orangered;
    text-align: center;
    margin: 0 10rem;
}

.introduction3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 4rem;
}

.info {
    width: 40%;
    border: 3px solid orangered;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info img{
    width: 11rem;
    height: 14rem;
    margin: 1rem;
    border: 2px solid orangered;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.info p{
    text-align: center;
    color: orangered;
    font-size: 1.75rem;
    margin: 1rem;
}

.info2 {
    width: 60%;
    border: 3px solid orangered;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info2 img{
    width: 11rem;
    height: 14rem;
    margin: 1rem;
    border: 2px solid orangered;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.info2 p{
    text-align: center;
    color: orangered;
    font-size: 1.75rem;
    margin: 1rem;
}

.partner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner h1{
    width: 100%;
    text-align: center;
}

.partner-icon {
    display: flex;
}

.partner-icon img {
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    border: 3px solid green;
    border-radius: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow, 0 0 12px greenyellow;
}

/* Collection section style */
.collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-banner h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: orange
}

.collection-banner img {
    width:30rem;
    height:12.5rem;
    border: 3px solid orangered;
    border-radius: 1.5rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
}

.undead {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.undead img{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}

.undead a{
    text-decoration: none;
    color: orangered;
}

.undead h2{
    border: 2px solid orangered;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px orangered, 0 0 5px orangered, 0 0 7px red;
    transition-duration: 0.5s;
}

.undead a h2:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red, 0 0 13px red;
}

.founderpass {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}
.founderpass div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.founderpass img {
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    border-radius: 4rem;
    box-shadow: 0 0 1px black, 0 0 3px rgb(37, 37, 37), 0 0 5px rgb(83, 83, 83), 0 0 8px rgb(194, 194, 194), 0 0 10px rgb(255, 255, 255);
}
.founderpass a {
    text-decoration: none;
    color: orangered;
    margin-top: 1rem;
}

.founderpass h2{
    border: 2px solid orangered;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px orangered, 0 0 5px orangered, 0 0 7px red;
    transition-duration: 0.5s;
}

.founderpass a h2:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red, 0 0 13px red;
}

.undead-game {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.game-intro {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-icon {
    width: 100%;
    text-align: center;
}

.game-icon img{
    width: 25rem;
    height: 30rem;
}

.game-intro h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0 5rem;
}

.game-info {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game {
    width: 25rem;
    height: 25rem;
    border: 3px solid green;
}

.game-info p{
    font-size: 2rem;
    text-align: center;
    margin: 0 5rem;
}

.sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub-nav ul {
    display: flex;
}
.sub-nav ul li{
    display: flex;
    border: 2px solid green;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;
    transition-duration: 1s;
}
.sub-nav ul li:hover {
    box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px white, 0 0 8px green, 0 0 10px green, 0 0 12px greenyellow;
}
.sub-nav a {
    text-decoration: none;
    color: green;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green, 0 0 5px green, 0 0 7px greenyellow;
}

@media only screen and (max-width: 1200px) {
    .introduction {
        border: 4px solid rgba(56, 15, 0, 0.562);
        border-radius: 1rem 1rem 0 0;
        margin: 0 2rem;
        border-bottom: transparent;
    }
    .introduction img {
        width: 20rem;
        height: 10rem;
        border: 2px solid rgb(255, 116, 65);
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px orange, 0 0 8px orangered;
        border-radius: 1rem;
        margin: 1rem;
    }
    .introduction h1{
        font-size: 1.5rem;
        color: orange;
        margin: 0 8rem;
    }

    .introduction2 {
        border: 4px solid rgba(56, 15, 0, 0.562);
        margin: 0.5rem 2rem;
        border-top: transparent;
        border-radius: 0 0 1rem 1rem;
    }
    .introduction2 img {
        width: 20rem;
        height: 10rem;
        border-radius: 1rem;
        margin: 1rem;
    }
    .introduction2 h1{
        font-size: 1.5rem;
        color: orangered;
        margin: 0 8rem;
    }
    .introduction3 {
        margin: 0 2rem;
    }
    .info, .info2 {
        width: 40%;
        border: 2px solid orangered;
        border-radius: 1rem;
        margin: 1rem;
    }
    .info2{
        width:60%
    }
    .info img, .info2 img{
        width: 8rem;
        height: 10rem;
        margin: 0.75rem;
    }
    .info p, .info2 p{
        font-size: 1.25rem;
        margin: 0.75rem;
    }
    .partner h1{
      font-size: 1.5rem;
    }
    .partner-icon img {
        width: 5rem;
        height: 5rem;
        margin: 0.5rem;
        border: 2px solid green;
        border-radius: 0.75rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;
    }
    .collection-banner h1{
        font-size: 2rem;
    }
    .collection-banner img {
        width:24rem;
        height:10rem;
        border: 2px solid orangered;
        border-radius: 1rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px red;
    }
    .undead {
        margin-top: 1rem;
    }
    .undead img{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 1.5rem;
    }
    .undead h2, .founderpass h2{
        border: 2px solid orangered;
        border-radius: 0.75rem;
        padding: 0.75rem;
        margin: 0.5rem;
        font-size: 1rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px red;
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px orangered, 0 0 5px red;
    }
    .undead a h2:hover, .founderpass a h2:hover{
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px orangered, 0 0 8px orangered, 0 0 10px red;
    }
    .founderpass {
        margin-top: 1.5rem;
    }
    .founderpass img {
        width: 7.5rem;
        height: 7.5rem;
        border: 2px solid black;
        border-radius: 3rem;
        box-shadow: 0 0 1px black, 0 0 3px rgb(37, 37, 37), 0 0 5px rgb(83, 83, 83), 0 0 8px rgb(194, 194, 194), 0 0 10px rgb(255, 255, 255);
    }
    .founderpass a {
        margin-top: 0.75rem;
    }
    .game-icon img{
        width: 20rem;
        height: 24rem;
    }
    .game-intro h1{
        font-size: 2rem;
        margin: 0 3rem;
    }
    #game {
        width: 20rem;
        height: 20rem;
        border: 2px solid green;
    }
    
    .game-info p{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 3rem;
    }
    .sub-nav ul li{
        border: 2px solid green;
        padding: 0.5rem;
        margin: 0.25rem;
        border-radius: 0.75rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px green, 0 0 8px greenyellow;
        transition-duration: 1s;
    }
    .sub-nav ul li:hover {
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px white, 0 0 6px white, 0 0 8px green, 0 0 10px greenyellow;
    }
    .sub-nav a {
        color: green;
        font-size: 1.5rem;
        font-weight: 600;
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green, 0 0 5px greenyellow;
    }
}

@media only screen and (max-width: 900px) {
    .introduction {
        border: 3px solid rgba(56, 15, 0, 0.562);
        border-radius: 0.5rem 0.5rem 0 0;
        margin: 0 0.5rem;
        border-bottom: transparent;
    }
    .introduction img {
        width: 14rem;
        height: 7rem;
        border: 1px solid rgb(255, 116, 65);
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px orange, 0 0 6px orangered;
        border-radius: 0.5rem;
        margin: 0.5rem;
    }
    .introduction h1{
        font-size: 1rem;
        color: orange;
        margin: 0 1rem;
    }
    .introduction2 {
        border: 3px solid rgba(56, 15, 0, 0.562);
        margin: 0.5rem 0.5rem;
        border-top: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .introduction2 img {
        width: 14rem;
        height: 7rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px orange, 0 0 6px orangered;
        border: 1px solid burlywood;
    }
    .introduction2 h1{
        font-size: 1rem;
        color: orangered;
        margin: 0 3rem;
    }
    .introduction3 {
        margin: 0;
    }
    .info, .info2 {
        border-radius: 0.4rem;
        margin: 0.25rem;
    }
    .info {
        width: 45%;
    }
    .info2{
        width:80%
    }
    .info img, .info2 img{
        width: 5.5rem;
        height: 7.5rem;
        margin: 0.4rem;
    }
    .info p, .info2 p{
        font-size: 0.8rem;
        margin: 0.25rem;
    }
    .partner h1{
      font-size: 1rem;
    }
    .partner-icon img {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.1rem;
        border: 1px solid green;
        border-radius: 0.5rem;
        box-shadow: 0 0 1px white, 0 0 3px green, 0 0 4px greenyellow;
    }
    .collection-banner h1{
        font-size: 1.5rem;
    }
    .collection-banner img {
        width:20rem;
        height:9rem;
        border: 2px solid orangered;
        border-radius: 1rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px orangered, 0 0 6px red;
    }
    .undead {
        margin-top: 0.5rem;
    }
    .undead img{
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }
    .undead h2, .founderpass h2{
        border: 1px solid orangered;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0.25rem;
        font-size: 0.8rem;
        box-shadow: 0 0 1px white, 0 0 3px orangered, 0 0 4px red;
        text-shadow: 0 0 1px white, 0 0 2px red;
    }
    .undead a h2:hover, .founderpass a h2:hover{
        box-shadow: 0 0 1px white, 0 0 3px orangered, 0 0 4px red;
    }
    .founderpass {
        margin-top: 1rem;
    }
    .founderpass img {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        border-radius: 1rem;
        box-shadow: 0 0 1px black, 0 0 3px rgb(37, 37, 37), 0 0 5px rgb(83, 83, 83), 0 0 8px rgb(194, 194, 194);
    }
    .founderpass a {
        margin-top: 0.5rem;
    }
    .game-icon img{
        width: 16rem;
        height: 20rem;
    }
    .game-intro h1{
        font-size: 1.5rem;
        margin: 0 2rem;
    }
    #game {
        width: 15rem;
        height: 15rem;
        border: 2px solid green;
    }
    
    .game-info p{
        font-size: 1rem;
        margin: 0 1rem;
    }
    .sub-nav ul li{
        border: 1px solid green;
        padding: 0.25rem;
        margin: 0.1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1px white, 0 0 2px green, 0 0 3px greenyellow;
        transition-duration: 1s;
    }
    .sub-nav ul li:hover {
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px green, 0 0 6px greenyellow;
    }
    .sub-nav a {
        color: green;
        font-size: 0.8rem;
        text-shadow: none;
    }
}

@media only screen and (max-width: 550px) {
    .introduction {
        border: 2px solid rgba(56, 15, 0, 0.562);
        border-radius: 0.5rem 0.5rem 0 0;
        margin: 0;
        border-bottom: transparent;
    }
    .introduction img {
        width: 12rem;
        height: 6rem;
        border: 1px solid rgb(255, 116, 65);
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px orange, 0 0 6px orangered;
        border-radius: 0.5rem;
        margin: 0.25rem;
    }
    .introduction h1{
        font-size: 0.8rem;
        color: orange;
        margin: 0 0.8rem;
    }
    .introduction2 {
        border: 2px solid rgba(56, 15, 0, 0.562);
        margin: 0.25rem 0rem;
        border-top: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .introduction2 img {
        width: 12rem;
        height: 6rem;
        border-radius: 0.5rem;
        margin: 0.25rem;
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px orange, 0 0 6px orangered;
        border: 1px solid burlywood;
    }
    .introduction2 h1{
        font-size: 0.8rem;
        color: orangered;
        margin: 0 1rem;
    }
    .info, .info2 {
        border-radius: 0.4rem;
        margin: 0.25rem;
    }
    .info2{
        width:90%
    }
    .info img, .info2 img{
        width: 4.75rem;
        height: 6rem;
        margin: 0.4rem;
    }
    .info p, .info2 p{
        font-size: 0.75rem;
        margin: 0.2rem;
    }
    .partner h1{
      font-size: 1rem;
    }
    .partner-icon img {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.1rem;
        border: 1px solid green;
        border-radius: 0.5rem;
    }
    .collection-banner h1{
        font-size: 1.25rem;
    }
    .collection-banner img {
        width:16rem;
        height:7.2rem;
        border-radius: 0.75rem;
        box-shadow: 0 0 1px white, 0 0 3px white, 0 0 4px orangered, 0 0 6px red;
    }
    .undead img{
        width: 4rem;
        height: 4rem;
        border-radius: 0.75rem;
    }
    .founderpass img {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 1rem;
        box-shadow: 0 0 1px black, 0 0 3px rgb(37, 37, 37), 0 0 5px rgb(83, 83, 83), 0 0 8px rgb(194, 194, 194);
    }

    .game-icon img{
        width: 12.8rem;
        height: 16rem;
    }
    .game-intro h1{
        font-size: 1.25rem;
        margin: 0 1rem;
    }
    #game {
        width: 12.5rem;
        height: 12.5rem;
    }
    
    .game-info p{
        font-size: 0.8rem;
        margin: 0 0.8rem;
    }
}