header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name img {
    width: 6.5rem;
    height: 6.5rem;
    margin: 1.25rem;
}

.logo-name h1 {
    font-size: 1.75rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    margin: 1rem 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;
    flex-grow: 1;
}

.navigation ul {
    display: flex;
    margin: 1rem;
}

.navigation ul li {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
}
.navigation ul li a {
    text-decoration: none;
    color:green;
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green, 0 0 5px green, 0 0 7px greenyellow;
}

.social {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.social img {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    margin: 0.4rem;
    border: 2px solid green;
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 0 6px green, 0 0 8px green, 0 0 10px greenyellow;
    transition-duration: 500ms;
}

.social img:hover {
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px green, 0 0 10px green, 0 0 12px greenyellow;
}
#social2 {
    margin-right: 2rem;
}