/* Universal style */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Footer style */
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid green;
    padding: 2rem 0rem 2rem 2rem;
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green, 0 0 5px greenyellow;
}

.copyright{
    padding: 0.5rem;
    margin-right: 1rem;
}

.link {
    flex-grow: 1;
}
.link a{
    text-decoration: none;
    color:black;
    padding: 0.5rem;
    border: 2px solid green;
    background-color: green;
    border-radius: 0.25rem;
    transition-duration: 0.5s;
}
.link a:hover{
    color:green;
    padding: 0.5rem;
    background-color: transparent;
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px green;
}

@media only screen and (max-width: 900px) {
    .copyright{
        padding: 0.25rem;
        margin-right: 0.75rem;
    }
    .copyright h3{
        font-size: 0.75rem;
    }
    
    .link a{
        font-size: 0.75rem;
        padding: 0.4rem;
        border: 2px solid green;
        background-color: green;
        border-radius: 0.25rem;
        transition-duration: 0.5s;
    }
    .link a:hover{
        padding: 0.4rem;
    }
}
@media only screen and (max-width: 900px) {
    .copyright{
        width:100%;
        padding: 0.2rem;
        margin-right: 0.5rem;
        text-align: center;
    }
    .copyright h3{
        font-size: 0.6rem;
    }
    
    .link a{
        font-size: 0.6rem;
        padding: 0.4rem;
        border: 2px solid green;
        background-color: green;
        border-radius: 0.25rem;
        transition-duration: 0.5s;
    }
    .link a:hover{
        padding: 0.4rem;
    }
}